body.dark-theme {
    .dashboard-card {
        color: var(--white-color);
        border: 1px solid var(--white-color);
    }

    .dashboard-table {
        th {
            background: var(--black-color);
            color: var(--white-color);
        }

        td {
            background: var(--black-color);
            color: var(--white-color);

            .update-button, .delete-button {
                color: var(--white-color);

                &:hover {
                    color: var(--main-color);
                }
            }
        }
    }
}

.dashboard-card {
    background: transparent;
}

.dashboard-table {
    th {
        background: var(--white-color);
        color: var(--black-color);
    }

    td {
        background: var(--white-color);
        color: var(--black-color);
    }
}

.update-button, .delete-button {
    color: var(--black-color);
    text-decoration: underline var(--main-color);
    transition: ease-in-out 0.4s;

    &:hover {
        color: var(--main-color);
    }
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
}
