.slick-prev {
    &:before {
        content: '';
        background: url(/images/angle-left.svg) no-repeat;
        width: auto;
        height: 30px;
        display: block;
        right: 15px;
        position: relative;
    }
}

.slick-slide {
    img {
        border-radius: 5px;
    }
}

.slick-next {
    &:before {
        content: '';
        background: url(/images/angle-right.svg) no-repeat;
        width: auto;
        height: 30px;
        display: block;
        left: 15px;
        position: relative;
    }
}
