/* Start root CSS */
:root {
    --main-color: #656CCF;
    --second-color: #78CDAB;
    --white-color: #FFFFFF;
    --grey-color: #C8C8C8;
    --black-color: #000000;
    --transparent-color: transparent;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/public/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* End root CSS */

/* Start global CSS */

/* Start body CSS */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 22px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
}

p {
    font-size: 18px;
    margin: 0;
}

/* End body CSS */

/* End global CSS */
