.skills-container-fluid {
    background: var(--grey-color);
}

.skills-item {
    transition: ease-in-out 0.4s;
    width: fit-content;
}

.skills-item span {
    transition: font-weight 0.4s ease-in-out;
    display: contents;
}

.skills-icon {
    background: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 100%;
    margin: auto;
}

.skills-title {
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
}

.skills-subtitle {
    padding: 15px 0;
    margin: 0;
    font-size: 24px;
}

ul.list-unstyled {
    border: 1px solid var(--black-color);
    padding: 30px;
    border-radius: 5px;
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon-circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

span.language-framework-name {
    font-size: 18px;
}

.skills-item:hover {
    cursor: pointer;
}

.skills-item span::after {
    content: '';
    background: url(/images/angle-right.svg) no-repeat;
    width: 15px;
    height: 24px;
    display: inline-block;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.skills-item:hover span::after {
    opacity: 1;
}
